.App {
  position: relative;
  display: flex;
  text-align: center;
}

.pokelist {
  background: linear-gradient(#b1b7e9, #e99a9b);
  background-repeat: repeat;
  background-size: 115vw;
}

.pokelist::before {
    content: "";
    background-image: url("assets/pokecupPattern.png");
    background-size: 120vw;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.15;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
}

.pokelist {
}

.poke-button-container {
  position: relative;
  margin-top: 16px;
  margin-bottom: 16px;
}

.poke-button-img {
  display: block;
  position: relative;
  max-width: 30vw;
  width: auto;
  height: auto;
  margin: auto;
  z-index: 5;
}

.poke-button-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 30vw;
  margin: auto;
  height: auto;
  margin: auto;
  z-index: 2;
}

.poke-profile-container {
  width: 100%;
  height: 100%;
  background: white;
  margin: 0 auto;
}

.poke-profile {
  max-width: 650px;
  margin: auto;
  overflow: auto;
}

.poke-profile-header {
  max-height: 400px;
}

.poke-profile-img {
  max-width: 85%
}

.type-normal {
  background: #8f99a1
}
.type-fire {
  background: #ff9c4b
}
.type-water {
  background: #498ed7
}
.type-grass {
  background: #60bd56
}
.type-electric {
  background: #f4d322
}
.type-ice {
  background: #71cfc1
}
.type-fighting {
  background: #d03d68
}
.type-poison {
  background: #ac67cb
}
.type-ground {
  background: #db7740
}
.type-flying {
  background: #91a9e0
}
.type-psychic {
  background: #fb6f73
}
.type-bug {
  background: #8fc315
}
.type-rock {
  background: #c7b788
}
.type-dark {
  background: #5a5267
}
.type-dragon {
  background: #71cfc1
}
.type-steel {
  background: #588da2
}
.type-ghost {
  background: #5167ae
}
.type-fairy {
  background: #ee8de8
}
